*.txt
*.pyc
*.csv
*.gz
*-ubyte
*.meta
*.feat
*.vocab
*.json
*.tsv
events.out.tfevents.*
*.lock
*.pdf
*.bin
cookie
*.pkl
*.log
*.wandb
latest-run
.DS_Store
MLProject
*.pth
*.zip
*.tar
*.tar.gz

zero-to-mastery-ml/images/*